{% extends 'layout-error.html' %}

{% block title %}{{ title }} 403 Page{% endblock %}

{% block head %}
    {% parent %}
{% endblock %}

{% block content %}
        <div class="logo">
          <h1>403</h1>
        </div>
        <p class="lead text-muted">Oops, an error has occurred. Forbidden!</p>
        <div class="clearfix"></div>
        <div class="col-lg-6 col-lg-offset-3">
          <form action="index.html">
            <div class="input-group">
              <input type="text" placeholder="search ..." class="form-control">
              <span class="input-group-btn">
			<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
		      </span>
            </div>
          </form>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="col-lg-6  col-lg-offset-3">
          <div class="btn-group btn-group-justified">
            <a href="dashboard.html" class="btn btn-info">Return Dashboard</a>
            <a href="index.html" class="btn btn-warning">Return Website</a>
          </div>
        </div>
{% endblock %}
