<button id="connect-video" type="button">Connect</button>
<button id="answer-call" type="button" disabled="disabled">Answer</button>
<div id="video-feeds" k4-video>
    <video id="local-video" autoplay="autoplay" controls="true"></video>
    <video id="remote-video" autoplay="autoplay" controls="true"></video>
</div>

<div id="robots" robot-list>
    <h1>Robots</h1>
    <ul id="robots-list">
    </ul>
</div>

<div id="no-gamepad-support" ng-hide="gamepadSupported">
    Your browser does not seem to support Gamepad API, or it might be
    we’re not detecting it very well. Sorry!
</div>
<div id="no-gamepads-connected" ng-hide="gamepadConnected">
    No gamepads seem to be connected. Be sure to plug in a gamepad and then
    press any of its buttons to activate it.
</div>

<div id="gamepads" ng-show="gamepadConnected" k4-controller>
    <div class="gamepad" ng-repeat="gamepad in gamepads">
        <h2>{{gamepad.id}}</h2>
        <span>{{gamepad.index}}</span>
        <p>{{gamepad.buttons}}</span>
    </div>
</div>
