<div>
    <a ui-sref="robot-room">Control</a>
    <h1>Robots</h1>
    <span class="error" ng-show="connectError">{{connectError}}</span>
    <ul class="robots">
        <li class="robot" ng-repeat="(socket, robot) in robots">
            <span class="name"><em>Name</em>: {{robot.name}}</span>
            <span class="mac"><em>MAC</em>: {{robot.mac}}</span>
            <span class="ip"><em>IP Address</em>: {{robot.ip}}</span>
            <button type="button" class="connect" ng-click="connect(socket)">Connect</button>
        </li>
    </ul> 
</div>
